.registerIcon{
    display: flex;
    justify-content: center;
    i{
      font-size:2.4cm;
      color: white;
    }
  }
  
  .register-right-side{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 64px;
  }
  
  .form-row{
    margin-top: 32px;
  }
  
  .register-box{
    width: 100%;
    background-image: linear-gradient(#43E2B2,#24AFAF);
    padding: 32px;
    border-radius: 50px;
    margin-right: 64px;
    margin-top: 64px;
  }
  
  .terms{
    background-color: #43E2B2;
    margin-top: 64px;
    margin-bottom:32px;
    justify-self: left;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    display: inline;
  }
  .blackbg{
    background-color: #342E37;
  }
  .registerBackground{
    
    background-image: url('../img/background.svg');
    background-size: cover;
    height: 100vh;
    grid-area: content;
    .title-text{
      padding-top: 100px;
      margin-bottom: 64px;
    }
  }
  
  
  .form-container{
    width:100%;
    display: flex;
    justify-content: center;
  }
  
  .register-bottom-right{
    width: 100%;
    height: 100%;
  }
  .formwidth{
    width: 80%;
  }
  
  .termslabel{
    margin-left: 8px;
  }
  