$primary: #43e2b2;
$dark: #342e37;
$light: #ffffff;
$sidebar-width: 300px;
$happy: #41e147;
$neutral: #e0e041;
$sad: #e05841;

@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import './session';
@import './att';
@import './chat';
@import './emoji';
@import './mySession';
@import './question';
@import './auth';
@import './layout';
@import './mobile';

body{
  width: 100vw;
  margin: 0;
  padding: 0;
  color: $dark;
}






