$primary: #43e2b2;
$dark: #342e37;
$light: #fff;
$sidebar-width: 300px;

@import '../bootstrap-5.0.0-beta2/scss/bootstrap.scss';
@import '../bootstrap-icons-1.3.0/bootstrap-icons.css';

body{
  width: 100vw;
  margin: 0;
  padding: 0;
  color: $dark;
}

section.body{
  display: grid;
  grid-template-areas: 'menu content';
  grid-template-columns: 300px auto;

  .btn-round{
    border-radius: 50px;
    padding: 1em 2em 1em 2em;
  }

  .menu{
    background-color: $dark;
    min-height: 100vh;
    position: fixed;
    width: $sidebar-width;
  
    .logo{
      color: $primary;
      text-align: center;
    }
    li{
      color:$primary;
      font-weight: bold;
      text-decoration: none;
    }
    .nav-logout{
      position: absolute;
      bottom: 5%;
    }
  }

  .main{
    background-image: url('../img/background.svg');
    background-size: cover;
    min-height: 100vh;
    grid-area: content;
    width: calc(100vw - $sidebar-width);

    .heading{
      text-align: center;
      position: relative;

      .head-svg{
        display: block;
        height: 2em;
        width: 2em;
        filter: invert(15%) sepia(7%) saturate(1322%) hue-rotate(236deg) brightness(90%) contrast(85%);
        float: left;
        position: absolute;
        left: 50%;
      }
    }
    
    .content{
      display:flex;
      flex-direction: column;
      align-items: flex-start;
      
      .home-action{
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: 3%;
        margin-right: 3%;
        font-weight: bold;
      }

      .create-session,.create-series{
        flex-direction: flex-start;
      }
    
      .join-session{
        align-self: flex-end;
      }
    }
  }

}

.nav-svg>svg{
  display: block;
  color: $primary;
  height: 1.8em;
  width: 1.8em;
  position: absolute;
  margin-left: -1em;
  margin-top: 0.2em;
  filter: invert(85%) sepia(15%) saturate(1694%) hue-rotate(99deg) brightness(93%) contrast(90%);
}

li.nav-link{
  display: block;
  position: relative;
}