$primary: #43e2b2;
$dark: #342e37;
$light: #fff;

@import '../bootstrap-5.0.0-beta2/scss/bootstrap.scss';

body{
  width: 100vw;
  margin: 0;
  padding: 0;
  color: $dark;
}

section.body{
  display: grid;
  grid-template-areas: 'menu content';

  .btn-round{
    border-radius: 50px;
    padding: 1em 2em 1em 2em;
  }

  .menu{
    background-color: $dark;
    min-height: 100vh;
    position: fixed;
    width: 300px;
    grid-area: menu;
  
    .logo{
      color: $primary;
      text-align: center;
    }
    li{
      color:$primary;
    }
    .nav-logout{
      position: absolute;
      bottom: 5%;
      font-weight: bold;
    }
  }

  .main{
    background-image: url('../img/background.png');
    background-size: cover;
    min-height: 100vh;
    padding: 10px;
    grid-area: content;
    margin-left: 300px;
    width: calc(100vw - 300px);

    .heading{
      text-align: center;
    }
    
    .content{
      display:flex;
      flex-direction: column;
      align-items: flex-start;
      
      .home-action{
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: 3%;
        margin-right: 3%;
        font-weight: bold;
      }

      .create-session,.create-series{
        flex-direction: flex-start;
      }
    
      .join-session{
        align-self: flex-end;
      }
    }
  }

}

.nav-home::before{
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' class='Icon_awesome-home' viewBox='-0.001 2.254 41.151 32'><path id='Icon_awesome-home' d='M 20.02868461608887 10.55515575408936 L 6.857924938201904 21.40279388427734 L 6.857924938201904 33.11052703857422 C 6.857924938201904 33.74178314208984 7.369657516479492 34.25351715087891 8.000910758972168 34.25351715087891 L 16.0060920715332 34.23280334472656 C 16.63511085510254 34.22966003417969 17.14336776733398 33.71884155273438 17.14336204528809 33.08980941772461 L 17.14336204528809 26.25262451171875 C 17.14336204528809 25.62137222290039 17.65509414672852 25.10963821411133 18.28634452819824 25.10963821411133 L 22.8582878112793 25.10963821411133 C 23.48954010009766 25.10963821411133 24.00127220153809 25.62137222290039 24.00127220153809 26.25262451171875 L 24.00127220153809 33.08481597900391 C 24.00032043457031 33.38856887817383 24.12032127380371 33.68021011352539 24.33477592468262 33.89533233642578 C 24.54923248291016 34.1104621887207 24.84049797058105 34.23137283325195 25.14425659179688 34.23137283325195 L 33.14657592773438 34.25351715087891 C 33.77782440185547 34.25351715087891 34.28955841064453 33.74178314208984 34.28955841064453 33.11052703857422 L 34.28955841064453 21.39493560791016 L 21.12166404724121 10.55515575408936 C 20.80269622802734 10.29805278778076 20.3476505279541 10.29805278778076 20.02868461608887 10.55515575408936 Z M 40.83314895629883 17.92812347412109 L 34.86105346679688 13.00543117523193 L 34.86105346679688 3.110754489898682 C 34.86105346679688 2.637314319610596 34.47725677490234 2.253515720367432 34.00381469726563 2.253515720367432 L 30.00337028503418 2.253515720367432 C 29.52993202209473 2.253515720367432 29.14612770080566 2.637314319610596 29.14612770080566 3.110754728317261 L 29.14612770080566 8.297761917114258 L 22.75041580200195 3.035746097564697 C 21.48461723327637 1.994118213653564 19.65859413146973 1.994118213653564 18.39278793334961 3.035746097564697 L 0.3100518882274628 17.92812347412109 C -0.05502590537071228 18.22986602783203 -0.1062097176909447 18.77050399780273 0.195753738284111 19.13539886474609 L 2.017385721206665 21.34993362426758 C 2.161995887756348 21.52577209472656 2.370614528656006 21.63686752319336 2.597229957580566 21.65871047973633 C 2.823846101760864 21.6805534362793 3.049843072891235 21.61135482788086 3.225378274917603 21.46637725830078 L 20.02868461608887 7.62625789642334 C 20.3476505279541 7.369155883789063 20.80269622802734 7.369155883789063 21.12166404724121 7.626258850097656 L 37.92567825317383 21.46637725830078 C 38.29058456420898 21.76833724975586 38.83121490478516 21.71715545654297 39.13295745849609 21.35207366943359 L 40.95459365844727 19.13754653930664 C 41.09944534301758 18.96129608154297 41.16807174682617 18.73458099365234 41.14527893066406 18.50758743286133 C 41.12248611450195 18.28059387207031 41.01015853881836 18.07204818725586 40.83315277099609 17.92812347412109 Z'></path></svg>");
  display: block;
  color: $primary;
}